<div class="row">
    <div class="col-sm-12 toolbar text-right">
        <div class="btn-group ">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.addCategory()">
                Add Category
            </button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.save()">
                Save
            </button>
        </div>
    </div>
</div>
<span></span>

<form class="form" role="form">
    <div class="row" ng-repeat="category in $ctrl.budget.categories">
        <category category="category"></category>
    </div>
</form>

<div class="row">
    <div class="col-sm-12 text-right">
        <table class="table table-condensed">
            <tbody>
                <tr class="text-right">
                    <td>Income:</td>
                    <td>{{$ctrl.budget.income | currency}}</td>
                </tr>
                <tr class="text-right">
                    <td>Budgeted:</td>
                    <td>{{$ctrl.getTotal() | currency}}</td>
                </tr>
                <tr class="text-right">
                    <td>Balance:</td>
                    <td>{{$ctrl.getBalance() | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>