<div ng-class="{'totals': $ctrl.budget.categories.length > 0}">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th class="text-right">Estimate</th>
                <th class="text-right">Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-right">
                <td>Income:</td>
                <td>{{$ctrl.budget.income | currency}}</td>
                <td>{{$ctrl.budget.income | currency}}</td>
            </tr>
            <tr class="text-right">
                <td>Budgeted:</td>
                <td>{{$ctrl.estimateTotal | currency}}</td>
                <td>{{$ctrl.actualTotal | currency}}</td>
            </tr>
            <tr class="text-right">
                <td>Percent:</td>
                <td>--</td>
                <td>{{$ctrl.percentOfIncome | number:2}}</td>
            </tr>
            <tr class="text-right">
                <td>Balance:</td>
                <td>{{$ctrl.estimateBalance | currency}}</td>
                <td>{{$ctrl.actualBalance | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>